# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.sqlite3
db.sqlite3
.env

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Personal files
Astha_Python_Developer_Resume.md
logo.png
tests/
